<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"log_type":"default"}</customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <conversionRule conversionWord="stack" converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter" />
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{ISO8601} %highlight(%-5level) - %msg%n%stack{1}</pattern>
            </encoder>
        </appender>

        <appender name="auditLogger" class="com.papertrailapp.logback.Syslog4jAppender">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSS} [%-5level] %msg%n</pattern>
            </layout>
            <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
                <host>audit.nais</host> <!-- remote system to log to -->
                <port>6514</port> <!-- remote port to log to -->
                <ident>dkif</ident> <!-- program name to log as -->
                <maxMessageLength>128000</maxMessageLength> <!-- max log message length in bytes -->
            </syslogConfig>
        </appender>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <logger name="no.nav.dolly.web.logging.LogRequestInterceptor">
        <level value="TRACE"/>
    </logger>
    <logger name="no.nav.dolly.web.service.LogService">
        <level value="TRACE"/>
    </logger>

</configuration>