<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"log_type":"default"}</customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <conversionRule conversionWord="stack" converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter" />
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{ISO8601} %highlight(%-5level) - %msg%n%stack{1}</pattern>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <logger name="no.nav.dolly.web.logging.LogRequestInterceptor">
        <level value="TRACE"/>
    </logger>
    <logger name="no.nav.dolly.web.service.LogService">
        <level value="TRACE"/>
    </logger>

</configuration>