<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="prod">
        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <customFields>{"log_type":"default"}</customFields>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <springProfile name="dev">

        <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <providers>
                    <stackTrace>
                        <fieldName>stackTrace</fieldName>
                        <throwableConverter
                                class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                            <rootCauseFirst>true</rootCauseFirst>
                            <maxDepthPerThrowable>30</maxDepthPerThrowable>
                            <maxLength>2048</maxLength>
                            <shortenedClassNameLength>20</shortenedClassNameLength>
                            <exclude>^sun\.reflect\..*\.invoke</exclude>
                            <exclude>^net\.sf\.cglib\.proxy\.MethodProxy\.invoke</exclude>
                        </throwableConverter>
                    </stackTrace>
                </providers>
            </encoder>
        </appender>
        <root level="INFO">
            <appender-ref ref="stdout_json"/>
        </root>
    </springProfile>

    <logger name="no.nav.dolly.web.logging.LogRequestInterceptor">
        <level value="TRACE"/>
    </logger>
    <logger name="no.nav.dolly.web.service.LogService">
        <level value="TRACE"/>
    </logger>

</configuration>